<h1> CS345 LAB MIDSEM DATABASE :- (Neo4j) by yugansh 150123050</h1>

<style>

  h1{ color:red;
      font-family: "Times"; }

</style>
<p> Query Interface :- <br> <br>

  Query1 
  <form action="/query1" method="POST">
  
  <input type="text" name="query1" placeholder="User_mentioned">
  <input type="submit" value="submit">

  </form>

  Query8 
  <form action="/query8" method="POST">
  
  <input type="text" name="query8" placeholder="hashtag">
  <input type="submit" value="submit">

  </form>
</p>
